Repository GregoireF/Terraform, changes with the labels that .github/labeler.yml gives for each.
All labels: bots, docs, package, github, eslint, nuxt, electron

.github/labeler.yml:

bots :
- renovate.js

docs :
- README.md
- LICENSE

package :
- package.json
- yarn.lock
- src/package.json

github :
- .gitattributes
- .gitignore
- .github/*.*
- .github/*/*.*

eslint :
- .eslintrc

nuxt :
- renderer/*/
- renderer/*.*
- renderer/

electron :
- build/*.*
- build/*/*.*

:tada: init: add Terraform project
  branch_create.tf
  init.tf
  repository_create.tf
Labels: none

:construction: wip: add multiple sections
  README.md
Labels: docs

Prettified Code!
  README.md
Labels: docs

:feat: feat: add label_create
  label_create.tf
Labels: none

:zap: up: update provider desc
  init.tf
Labels: none

:sparkles: feat: add user_create
  user_create.tf
Labels: none

:fire: del: remove
  user_create.tf
Labels: none

:sparkless: feat: End of the readme
  README.md
Labels: docs

:construction: wip: modify badges
  README.md
Labels: docs

:sparkles: feat: finalize readme
  README.md
Labels: docs

Prettified Code!
  README.md
Labels: docs

:bug: fix CI
  .github/workflows/ci.yml
Labels: github

:fire: del: remove file
  .github/workflows/docker-image.yml
Labels: github

:fire: del: remove file
  .github/workflows/typescript-compiler.yml
Labels: github

:fire: del: remove file
  .github/workflows/calibreapp-image-actions.yml
Labels: github

:construction: chore:(deps): Update dessant/lock-threads action to v3
  .github/workflows/lock.yml
Labels: github
